*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#Select{
  margin-left: 33%;
  margin-right: 33%;
  color: aquamarine;
  margin-bottom: 10px;
  margin-top: 10px;
}

.difficulty-selector{
  width: 500px;
  height: auto;
  background-color: #333333;
}

.difficulty-selector .h2{
  margin-left: 20%;
  margin-right: 20%;
}

.difficulty{
  font-size: 16px;
  padding: 15px 0;
  color: aquamarine;
  border: 1px ridge aqua;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.difficulty:hover{
  cursor: pointer;
}

.difficulty p{
  margin-left: 37%;
}

.stat{
  height: 20px;
  width: auto;
  border: ridge 5px #000000;
}

.action-upgrade{
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
}

.action-upgrade:hover{
  cursor: pointer;
}